BODY
{
    BACKGROUND-POSITION: left top;
    MARGIN: 0px;
    BACKGROUND-REPEAT: repeat-y
}
BODY
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A
{
    COLOR: #0000ff;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: none
}
SELECT.flat
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
TEXTAREA.flat
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
INPUT.flat
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
SELECT.error
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
TEXTAREA.error
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
INPUT.error
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
TEXTAREA.code
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
SELECT.flat
{
    BORDER-LEFT-COLOR: #888888;
    BORDER-BOTTOM-COLOR: #888888;
    BORDER-TOP-COLOR: #888888;
    BORDER-RIGHT-COLOR: #888888
}
TEXTAREA.flat
{
    BORDER-LEFT-COLOR: #888888;
    BORDER-BOTTOM-COLOR: #888888;
    BORDER-TOP-COLOR: #888888;
    BORDER-RIGHT-COLOR: #888888
}
INPUT.flat
{
    BORDER-LEFT-COLOR: #9191fb;
    BORDER-BOTTOM-COLOR: #9191fb;
    BORDER-TOP-COLOR: #9191fb;
    BORDER-RIGHT-COLOR: #9191fb
}
TEXTAREA.code
{
    BORDER-LEFT-COLOR: #888888;
    BORDER-BOTTOM-COLOR: #888888;
    BORDER-TOP-COLOR: #888888;
    BORDER-RIGHT-COLOR: #888888
}
SELECT.error
{
    BORDER-LEFT-COLOR: #990000;
    BORDER-BOTTOM-COLOR: #990000;
    BORDER-TOP-COLOR: #990000;
    BORDER-RIGHT-COLOR: #990000
}
TEXTAREA.error
{
    BORDER-LEFT-COLOR: #990000;
    BORDER-BOTTOM-COLOR: #990000;
    BORDER-TOP-COLOR: #990000;
    BORDER-RIGHT-COLOR: #990000
}
INPUT.error
{
    BORDER-LEFT-COLOR: #990000;
    BORDER-BOTTOM-COLOR: #990000;
    BORDER-TOP-COLOR: #990000;
    BORDER-RIGHT-COLOR: #990000
}
TEXTAREA.code
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: "Lucida Console", "Courier New", Courier, monospace
}
TEXTAREA.code-gray
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: "Lucida Console", "Courier New", Courier, monospace
}
TEXTAREA.code-gray
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    BORDER-LEFT: 0px solid;
    COLOR: #808080;
    BORDER-BOTTOM: 0px solid
}
H3
{
    FONT-SIZE: 18px;
    COLOR: #091b75;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gridaltitem {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #f5f5f5;
	color: #000000;
}
.griditem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FBFEFF;
	height: 20px;
	border: 1px solid #517DBF;
}
.GridHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	background-color: #FBFEFF;
	height: 20px;
	border: 1px solid #517DBF;
	position: absolute;
}
.text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
IMG
{
	cursor:progress;
}
.itemClass
{
    display:none; 
    color:#ede9e7;
}
.cpYearNavigation, .cpMonthNavigation
{
	background-color: #C0C0C0;
	color: #000000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.cpDayColumnHeader, .cpYearNavigation, .cpMonthNavigation, .cpCurrentMonthDate, .cpCurrentMonthDateDisabled, .cpOtherMonthDate, .cpOtherMonthDateDisabled, .cpCurrentDate, .cpCurrentDateDisabled, .cpTodayText, .cpTodayTextDisabled, .cpText
{
	font-family: arial;
	font-size: 8pt;
}
td.cpDayColumnHeader
{
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 0px 0px 1px;
	text-align: right;
}
.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate
{
	text-align: right;
	text-decoration: none;
}
.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled
{
	color: #D0D0D0;
	text-align: right;
	text-decoration: line-through;
}
.cpCurrentMonthDate, .cpCurrentDate
{
	color: #000000;
}
.cpOtherMonthDate
{
	color: #808080;
}
td.cpCurrentDate
{
	background-color: #C0C0C0;
	border: thin solid #800000;
	color: white;
}
td.cpCurrentDateDisabled
{
	border: thin solid #FFAAAA;
}
td.cpTodayText, td.cpTodayTextDisabled
{
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 1px 0px 0px;
}
a.cpTodayText, span.cpTodayTextDisabled
{
	height: 20px;
}
a.cpTodayText
{
	color: black;
}
.cpTodayTextDisabled
{
	color: #D0D0D0;
}
.cpBorder
{
	border: thin solid #808080;
}

.loginbordert
{
    background-color: #fff7ef;
    height: 143;
    font-size: 13px;
    font-weight: bold;
    color: #79491B;
    font-family: Tahoma;
    text-decoration: none;
    border: 1pt solid #552b00;
}
input.groovybutton
{
	font-size: 12px;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	width: 60px;
	height: 28px;
	background-color: #6699FF;
	border-top-style: none;
	border-top-color: #6699FF;
	border-top-width: 4px;
	border-bottom-style: none;
	border-bottom-color: #6699FF;
	border-bottom-width: 4px;
	border-left-style: none;
	border-left-color: #6699FF;
	border-left-width: 4px;
	border-right-style: none;
	border-right-color: #6699FF;
	border-right-width: 4px;
}
